<div ng-cloak ng-app="MyApp">

  <md-content class="md-padding" >
         <div layout="column" layout-gt-xs="row" >

            <md-card flex flex-gt-xs="50">
                <h2>Card title #1</h2>
                <md-card-content>
                    <p>Some content</p>
                </md-card-content>
						</md-card>

            <md-card flex >
                <h2>Card title #2</h2>
                <md-card-content>
                    <p>Some content</p>
                </md-card-content>
            </md-card>
        </div>
    </md-content>

</div>
